# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# ===============================
# Virtual Environment
# ===============================
.venv/
venv/
env/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# ML artifacts
# (DVC should manage these)
# ===============================
models/*
reports/*
data/*

# allow directory structure to exist
!data/.gitkeep
!models/.gitkeep
!reports/.gitkeep

# ===============================
# DVCLive experiment artifacts
# ===============================
dvclive/

# ===============================
# AWS / credentials
# ===============================
.aws/
.env
.env.*